/* CSS declarations go here */

body {
    padding-top: 40px;
}

#poetry {
    font-family: 'Poiret One', cursive;
    font-size: 32px;
    margin: 0 auto;
}

#poetry .word {
    float: left;
}

#poetry .word-edit {
    float: left;
}

#poetry input {
    border: 0;
    background: #eee;
    padding: 0;
    width: 20px;
}

#poem-page {
}

#poetry .line-break {
    height: 5px;
}

#poetry .line-break:hover {
    background: #eee;
    height: 15px;
}

.space {
    float: left;
}

.space:hover {
    background: #eee;
}

