/* CSS declarations go here */

body {
    padding-top: 40px;
}

#poetry {
    position: relative;
    font-family: 'Poiret One', cursive;
    font-size: 24px;
    margin: 0 auto;
}

#poetry .word {
    float: left;
}

#poetry .word-edit {
    float: left;
    display: none;
}

#poetry input {
    border: 0;
    background: #eee;
}

#poem-page {
}

#poetry .line-break {
    width: 100%;
    clear: both;
}

.space {
    float: left;
}

.space:hover {
    background: #eee;
}
